## Compilation artefacts
*.bak
*.o
*.a
*.lo
*.la
*.sed
.deps/
.libs/

## development tools
.gdb_history
.python-version
*.patch
.idea

## autotools
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
Makefile
Makefile.in
/config.log
/config.status
/config.cache
/config.guess
/config.sub
/configure
/depcomp
/gl/
/include/config.h.in
/include/stamp-h1
/install-sh
/libtool
/ltmain.sh
.dirstamp
/missing
/ylwrap
/m4
!m4/ax_create_target_h.m4
!m4/ax_lib_socket_nsl.m4
!m4/ax_with_dmalloc.m4

# Ignoring generated /bin directory
/bin/

# Directories ending with .ign will be ignored
*.ign/

# Tarballs
*.tar.gz
*.tar
*.tgz

# Solaris distribution files
*.pkg
/pkg/

# emacs files
*~
/TAGS

# Linux distro files
*.rpm
*.deb
*.apk

# key files
*.pubk
*.prvk
*.crt
*.pem
*.wrap

# pkcs11 wrapper script files
.pkcs11rc

# VSCode
.vscode/
.clang-format

