[submodule ".gnulib"]
	path = .gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "include/oasis-pkcs11"]
	path = include/oasis-pkcs11
	url = https://github.com/oasis-tcs/pkcs11.git
