name: GitHub Build Ubuntu Latest
run-name: ${{ github.actor }} build of pkcs11-tools using GitHub Actions
on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
        - info
        - warning
        - debug
    
jobs:

  build-pkcs11-tools-oel-7:

    runs-on: ubuntu-latest
    container:
      image: oraclelinux:7
    steps:
      - name: enable additional repositories
        # https://docs.oracle.com/en/operating-systems/oracle-linux/scl-user/scl-ReleaseNotes.html#ol-scl-install-swc
        run:  |
              yum install -y yum-utils epel-release yum-plugin-prorities
              echo "Enabling OEL7 Addons repo"
              yum-config-manager --enable ol7_addons
              echo "Enabling OEL7 Latest and Optional Latest repo"
              yum-config-manager --enable ol7_latest ol7_optional_latest
              echo "Enabling OEL7 Software Collections repo"
              yum-config-manager --enable ol7_software_collections
              echo "Enabling https://www.softwarecollections.org/en/scls/rhscl/rh-git29/ repo"
              yum install scl-utils
              yum-config-manager --enable rhel-server-rhscl-7-rpms
              echo "REPOLIST is:"
              yum repolist
      - name: install build dependencies
        run:  yum install -y rh-git29 openssl-devel autoconf libtool autoconf-archive bison flex make perl rpm-build
      - name: enable rh-git29
        run:  scl enable rh-git29 bash
      - uses: actions/checkout@v3
      - name: make pkcs11-tools checkout directory acceptable for git
        run:  git config --global --add safe.directory /__w/pkcs11-tools/pkcs11-tools
      - name: make bootstrap.sh executable
        run:  chmod +x bootstrap.sh
      - name: run bootstrap.sh
        run:  ./bootstrap.sh
      - name: run configure script
        run:  ./configure --with-awscloudhsm
      - name: make source distribution tar archive
        run:  make dist
      - name: create RPMs
        run:  |
              export HOME=/__w/pkcs11-tools/
              mkdir -p $HOME/rpmbuild/SPECS 
              mkdir -p $HOME/rpmbuild/SOURCES 
              cp dist/redhat/pkcs11-tools.spec $HOME/rpmbuild/SPECS 
              cp pkcs11-tools-*.tar.gz $HOME/rpmbuild/SOURCES 
              rpmbuild -ba $HOME/rpmbuild/SPECS/pkcs11-tools.spec --with awscloudhsm
      - name: list release files
        run:  |
              find /__w/pkcs11-tools/rpmbuild/SRPMS/ -type f
              find /__w/pkcs11-tools/rpmbuild/RPMS/ -type f
      - name: upload pkcs11-tools RPMs to releases
        # see https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name:  Oracle Enterprise Linux 7
          files:  |
                  /__w/pkcs11-tools/rpmbuild/SRPMS/pkcs11-tools-*.src.rpm
                  /__w/pkcs11-tools/rpmbuild/RPMS/x86_64/pkcs11-tools-*x86_64.rpm

  build-pkcs11-tools-oel-8:

    runs-on: ubuntu-latest
    container:
      image: oraclelinux:8
    steps:
      - name: enable additional repositories for autoconf-archive and rpmbuild
        run:  |
              dnf config-manager --set-enabled ol8_codeready_builder
              dnf config-manager --set-enabled ol8_appstream
      - name: install build dependencies
        run:  dnf install openssl-devel git clang autoconf libtool autoconf-archive bison flex make pkg-config perl rpm-build
      - uses: actions/checkout@v3
      - name: make pkcs11-tools checkout directory acceptable for git
        run:  git config --global --add safe.directory /__w/pkcs11-tools/pkcs11-tools
      - name: make bootstrap.sh executable
        run:  chmod +x bootstrap.sh
# debugging autoconf and pkg-config due to error
#    configure.ac "error: possibly undefined macro: AC_MSG_WARN"
# resolution was to enable autoconf-archive repo - see above
#      - name: print autoconf version
#        run:  autoconf --version && rpm -qi autoconf
#      - name: print pkg-config version
#        run:  pkg-config --version && rpm -qi pkgconf-pkg-config 
      - name: run bootstrap.sh
        run:  ./bootstrap.sh
      - name: run configure script
        run:  ./configure --with-awscloudhsm
# remove make from this build as we don't need the binaries, they will be compiled by rpmbuild in the "create RPMs" step below
#      - name: make
#        run:  make
      - name: make source distribution tar archive
        run:  make dist
      - name: create RPMs
        run:  |
              export HOME=/__w/pkcs11-tools/
              mkdir -p $HOME/rpmbuild/SPECS
              mkdir -p $HOME/rpmbuild/SOURCES
              dnf builddep -y dist/redhat/pkcs11-tools.spec
              cp dist/redhat/pkcs11-tools.spec $HOME/rpmbuild/SPECS
              cp pkcs11-tools-*.tar.gz $HOME/rpmbuild/SOURCES
              rpmbuild -ba $HOME/rpmbuild/SPECS/pkcs11-tools.spec --with awscloudhsm
#      - name: list release files
#        run:  |
#              find /__w/pkcs11-tools/rpmbuild/SRPMS/ -type f
#              find /__w/pkcs11-tools/rpmbuild/RPMS/ -type f
      - name: upload pkcs11-tools RPMs to releases
        # see https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name:  Oracle Enterprise Linux 8
          files:  |
                  /__w/pkcs11-tools/rpmbuild/SRPMS/pkcs11-tools-*.el8.src.rpm
                  /__w/pkcs11-tools/rpmbuild/RPMS/x86_64/pkcs11-tools-*.el8.x86_64.rpm

  build-pkcs11-tools-ubuntu-latest:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install build dependencies
        run:  NEEDRESTART_MODE=l sudo apt -y install libssl-dev git clang autoconf libtool autoconf-archive bison flex make pkg-config perl
      - name: make bootstrap.sh executable
        run:  chmod +x bootstrap.sh
      - name: run bootstrap.sh
        run:  ./bootstrap.sh
      - name: run configure script
        run:  ./configure --prefix=$PWD --with-awscloudhsm
      - name: make source distribution tar archive
        run:  make dist
      - name: make binary distribution tar archive
        run:  |
              make install
              strip bin/* || true # strip does not work on the bash scripts and returns non-zero exit code
              make dist-bin
              gzip pkcs11-tools-bin*
      - name: list release files
        run:  ls pkcs11-tools-*tar*
      - name: upload pkcs11-tools.tar.gz to releases
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: pkcs11-tools-*tar*
